<div class="row fullBack">
    <div class="margin-top-100 text-center scroll-content">
        <div class="col-24 col-sm-6">
            <img class="img-fluid" src="/assets/images/Beneci-Logo.png" alt="">
            <div class="headingFont">Instagram</div>
            <div class="headingFont">Facebook</div>
            <div class="headingFont">Twitter</div>
        </div>
        
        <div class="col-24 col-sm-16 offset-sm-1 float-left about-us">
            <div class="headingFont">welcome to Beneci</div>
            <div class="sub1">Our History</div>
            <div class="sub2">
                <p>Beneci is a family-run, father-daughter business operating in the Ottawa area.</p> 
                <p>We have always had a love for pizza in this family. After coming to Canada in 1970, Sam started working in the pizza business, and within a few short years, decided to open a restaurant.</p>
                <p>After running a full dine-in restaurant for 30 years he decided to retire. Or so we all thought!</p>
                <p>In 2013, Natalie decided to open the first Beneci and in just one short year, this pushed Sam out of retirement to open his own location in the west end of Ottawa.</p>
            </div>
            <div class="sub1">Quality is our commitement to you</div>
            <div class="sub2">
                <p>We use only the top and freshest quality ingredients to give you the best pizza experience. Our Dough is made fresh daily and our care to quality shows will all our products in our locations. We feel that Quality in gives Quality out.</p> 
            </div>
            <div class="sub1">Being Part of the Community</div>
            <div class="sub2">
                <p>over the past 40 years, we have always given back to the community by sponsoring minor hockey, minor football along with other sports. </p>
                <p>We also have run a Golf Tournament to fund Kidney research at the Ottawa Hospital and have raised over 1 millions dollars for this great cause.</p> 
            </div>
        </div>
    </div>
</div>
