body, html {
    height: 100%;
  }
  
  .margin-top-100{
      margin-top: 60px;
      width: 100%;
  }
  
  .fullBack {
    background: url("/assets/images/IMG_1218.JPG"); 
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }

  .scroll-content{
      overflow:scroll;
      height: calc(100% - 65px);
      height: -o-calc(100% - 65px); /* opera */
      height: -webkit-calc(100% - 65px); /* google, safari */
      height: -moz-calc(100% - 65px); /* firefox */
  }

  .headingFont{
      font-size: 2vw;
      font-style: italic;
  }

  .sub1{
    font-size: 1.vw;
    text-align: left;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-style: italic;
  }

  .sub2{
    font-size: 1.2vw;
    text-align: left;
    line-height: 1.2;
    padding-left: 25px;
    padding-right: 10px;
  }

  .about-us{
      width: 100%;
      background-color: rgba(215, 216, 200, 0.764);
      min-height: 300px;
      margin-top: 10px;
      padding: 15px;
      border-radius: 6px;
  }

