<div class="row fullBack">
    <div class="margin-top-100 text-center scroll-content">
        <div class="col-6">
            <img class="img-fluid" src="/assets/images/Beneci-Logo.png" alt="">
            <div class="headingFont">Instagram</div>
            <div class="headingFont">Facebook</div>
            <div class="headingFont">Twitter</div>
        </div>
        
        <div class="col-16 offset-1 float-left about-us">
            <div class="headingFont">About Beneci</div>
            <div class="sub1">Nothing but the Best</div>
            <div class="sub2">Information goes in here. T?his is the data that I need from Sam or the website person. This also has all the Instagram and facebook stuff</div>
            <div class="sub1">50 Years in the Industry</div>
            <div class="sub2">Information goes in here. T?his is the data that I need from Sam or the website person. This also has all the Instagram and facebook stuff</div>
            <div class="sub1">Nothing but the Best</div>
            <div class="sub2">Information goes in here. T?his is the data that I need from Sam or the website person. This also has all the Instagram and facebook stuff</div>
            <div class="sub1">50 Years in the Industry</div>
            <div class="sub2">Information goes in here. T?his is the data that I need from Sam or the website person. This also has all the Instagram and facebook stuff</div>
        </div>
    </div>
</div>
