<div class="row fullBack">
    <div class="margin-top-100 text-center scroll-content">
        <img class="col-12 offset-6 col-sm-8 offset-sm-8 img-fluid" src="/assets/images/Beneci-Logo.png" alt="">
        <div class="col-24 mb-2">
            <div class="heading-font">Quality you can count on..</div>
        </div>
        <div class="container">
            <div class="col-24 col-sm-14 offset-sm-5" [hidden] = "isMember">
                <div class="col-24 login-box">
                    <div class="title">Login or Create an Account</div>
                    <p>To Order Online, you will need an account. You can create this during the checkout process or before.</p>
                    <p>Having an account will enable you to view your previous orders, speed up placing online orders, and you will receive notifications of promotional items or upcoming discounts</p>
                    <div class="col-12 offset-6">
                        <div class="beneciButton bg-primary text-white text-small" (click) = "navToLogIn()">Log In / Create Account</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="col-24 col-md-12 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left  title mt-1">Beneci East</div>
                        <div class="col-24 float-left  phone">613-739-7777</div>
                        <div class="col-24 float-left  address">4 Lorry Greenberg</div>
                        <div class="col-24 float-left  near">Conroy Rd / Lorry Greenberg</div>
                        <div class="col-24 float-left  hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left  mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white" (click) = "orderOnline()">Order Online</div>
                        </div>
                    </div>
                </div>
                <div class="col-24 col-md-12 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left title mt-1">Beneci West</div>
                        <div class="col-24 float-left phone">613-828-2828</div>
                        <div class="col-24 float-left address">1105 Cobden Ave</div>
                        <div class="col-24 float-left near">Near Ikea</div>
                        <div class="col-24 float-left hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white" (click) = "orderOnline()">Order Online</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-24 col-lg-8 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left  title mt-1">Beneci Vanier</div>
                        <div class="col-24 float-left  phone">613-749-0332</div>
                        <div class="col-24 float-left  address">55 Montreal Road</div>
                        <div class="col-24 float-left  near">Near Bingo Hall</div>
                        <div class="col-24 float-left  hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left  mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white" (click) = "orderOnline()">Order Online</div>
                        </div>
                    </div>
                </div> -->
            </div>
    </div>
    <!-- <div class="col-24 text-center margin-top-100">
            
            <div class="col-24 mb-3">
                <div class="col-24 col-md-12 col-lg-8 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left  title mt-1">Beneci East</div>
                        <div class="col-24 float-left  phone">613-739-7777</div>
                        <div class="col-24 float-left  address">4 Lorry Greenburg</div>
                        <div class="col-24 float-left  near">Conroy Rd / Lorry Greenburg</div>
                        <div class="col-24 float-left  hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left  mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white">Order Online</div>
                        </div>
                    </div>
                </div>
                <div class="col-24 col-md-12 col-lg-8 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left title mt-1">Beneci West</div>
                        <div class="col-24 float-left phone">613-828-2828</div>
                        <div class="col-24 float-left address">1105 Cobdon Ave</div>
                        <div class="col-24 float-left near">Near Ikea</div>
                        <div class="col-24 float-left hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white">Order Online</div>
                        </div>
                    </div>
                </div>
                <div class="col-24 col-lg-8 mt-1">
                    <div class="locationBox">
                        <div class="col-24 float-left  title mt-1">Beneci Vanier</div>
                        <div class="col-24 float-left  phone">613-749-0332</div>
                        <div class="col-24 float-left  address">55 Montreal Road</div>
                        <div class="col-24 float-left  near">Near Bingo Hall</div>
                        <div class="col-24 float-left  hours">Open {{displayTime}}</div>
                        <div class="col-24 float-left  mt-2">
                            <div class="col-24 float-left beneciButton beneci-green text-white">Order Online</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</div>