<div class="row fullBack">
    <div class="margin-top-100 text-center scroll-content">
        <div [hidden]="isMember">
            <div class="centerScreen col-22 col-sm-14 col-lg-10 alert-info sign-in-box" [hidden]="createAccount">
                <div class="title">Your Beneci Account</div>
                <div class="details">By Creating an Account, You Will <strong>speed up</strong> your order process in
                    the
                    future</div>
                <div class="title mt-2">Benefits of an Account</div>
                <div class="details">
                    <div class="bullets">* Re-Order the Same Order with 1 Button</div>
                    <div class="bullets">* Receive Promotions and Disount Codes</div>
                </div>
                <div class="col-24 col-sm-18 offset-sm-3 col-md-14 offset-md-5 mt-3">
                    <div class="loginTitle">email address</div>
                    <input type="text" [(ngModel)] = "signIn.email" class="form-control font-xsmall" placeholder="EMAIL ADDRESS">
                </div>
                <div class="col-24 col-sm-18 offset-sm-3 col-md-14 offset-md-5 mt-1">
                    <div class="loginTitle">password</div>
                    <input [(ngModel)]="signIn.thePassword" [hidden]="!showPass" name="password" type="password" id="password"
                        placeholder="PASSWORD" class="col-21 form-control font-xsmall">
                    <input [(ngModel)]="signIn.thePassword" [hidden]="showPass" name="password" type="text" id="password"
                        placeholder="PASSWORD" class="col-21 form-control font-xsmall">
                    <div class="col-3 pull-right no-gutter formRight " [hidden]="showPass" (click)=showHidePass()>
                        <div class="eyeButtonHide"><i class="text-red fas fa-eye-slash"></i></div>
                    </div>
                    <div class="col-3 pull-right no-gutter formRight" [hidden]="!showPass" (click)=showHidePass()>
                        <div class="eyeButtonShow"><i class="fas fa-eye"></i></div>
                    </div>
                </div>
                <div class="col-24 mt-4">
                    <div class="col-12">
                        <div class="col-24 text-small beneciButton bg-light" (click) = "signInButton()">Sign In</div>
                    </div>
                    <div class="col-12">
                        <div class="col-24 text-small beneciButton bg-dark text-warning"
                            (click)="createAccount = !createAccount">Create Account</div>
                    </div>
                </div>
                <div class="col-24 mt-1">
                    <div class="col-12">
                        <div class="col-24 smallLink">forgot password?</div>
                    </div>
                </div>
            </div>
            <div class="centerScreen col-22 col-sm-14 col-lg-10 alert-success sign-in-box" [hidden]="!createAccount">
                <div class="title">New Account</div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>First
                        Name</div>
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>Last
                        Name</div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.first" autocomplete="false">
                    </div>
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.last" autocomplete="false">
                    </div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>Email
                        Address</div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-24 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.email" autocomplete="false">
                    </div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">*
                        </span>Password</div>
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>Repeat
                        Password</div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left">
                        <input type="password" class="form-control-clear font-small" [ngClass]="setRose()"
                            (focusout)='calcPoints()' [(ngModel)]="client.password1" autocomplete="false">
                    </div>
                    <div class="col-12 float-left">
                        <input type="password" class="form-control-clear font-small" [ngClass]="setRose()"
                            (focusout)='calcPoints()' [(ngModel)]="client.password2" autocomplete="false">
                    </div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>Phone
                    </div>
                    <div class="col-12 float-left text-left label">Extension</div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.phone" autocomplete="false">
                    </div>
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.extension" autocomplete="false">
                    </div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label"><span class="text-danger font-small">* </span>Address
                    </div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-24 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.address" autocomplete="false">
                    </div>
                </div>

                <div class="col-24 mt-2">
                    <div class="col-12 float-left text-left label">Appt Number
                    </div>
                    <div class="col-12 float-left text-left label">Cross Road</div>
                </div>
                <div class="col-24 mt-2">
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.appt" autocomplete="false">
                    </div>
                    <div class="col-12 float-left">
                        <input type="text" class="form-control font-small" (focusout)='calcPoints()'
                            [(ngModel)]="client.crossRoad" autocomplete="false">
                    </div>
                </div>
                <div class="red-marker-line">* Denotes required fields</div>
                <div class="col-24 mt-4">
                    <div class="col-12 offset-6">
                        <div class="col-24 text-small beneciButton text-white" [ngClass]="ReadyToGo()"
                            (click)="createTheAccount()">Create
                            Account</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="memberBox" [hidden]="!isMember">
            <div class="col-24 bg-light">
                <div class="col-24" style="height: 45px;">
                    <div class="col-6 float-right mt-1">
                        <div class="col-12 offset-12 beneciButton bg-warning" (click)="signOut()">Sign Out</div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-24 col-sm-12 offset-sm-6">
                        <div class="col-12 float-left">
                            <div class="label text-left">first name</div>
                        </div>
                        <div class="col-12 float-left">
                            <div class="label text-left">last name</div>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35">
                        <div class="col-12 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.first" placeholder="First Name">
                        </div>
                        <div class="col-12 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.last" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6">
                        <div class="col-12 float-left">
                            <div class="label text-left">Email</div>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35">
                        <div class="col-18 float-left">
                            <input type="text" class="form-control" readonly [(ngModel)]="client.email"
                                placeholder="Email Address">
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6">
                        <div class="col-18 float-left">
                            <div class="label text-left">Address</div>
                        </div>
                        <div class="col-6 float-left">
                            <div class="label text-left">Apt</div>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35">
                        <div class="col-18 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.address"
                                placeholder="Email Address">
                        </div>
                        <div class="col-6 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.appt">
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6">
                        <div class="col-18 float-left">
                            <div class="label text-left">Phone</div>
                        </div>
                        <div class="col-6 float-left">
                            <div class="label text-left">Ext</div>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35">
                        <div class="col-18 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.phone"
                                placeholder="Email Address">
                        </div>
                        <div class="col-6 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.extension">
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6">
                        <div class="col-12 float-left">
                            <div class="label text-left">Cross Road</div>
                        </div>
                        <div class="col-12 float-left">
                            <div class="label text-left">Preferred Location</div>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35">
                        <div class="col-12 float-left">
                            <input type="text" class="form-control" [(ngModel)]="client.crossRoad">
                        </div>
                        <div class="col-12 float-left" [hidden]="pickLocationOn">
                            <input type="text" class="form-control pointer" readonly [(ngModel)]="client.location"
                                (click)="pickLocation()">
                        </div>
                        <div class="col-12 float-left" [hidden]="!pickLocationOn">
                            <select class="form-control font-small" (change) = "setLocation($event)">
                                <option value="" selected>PICK LOCATION </option>
                                <option value="WEST">COBDEN RD</option>
                                <option value="EAST">LORRY GREENBERG</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35 label">
                        <p>If you would like to Make changes, Change the Information above and Press Save</p>
                    </div>
                    <div class="col-24 col-sm-12 offset-sm-6 line-35 mt-4 mb-5">
                        <div class="col-12 offset-6">
                            <div class="beneciButton bg-success text-white" (click) = "saveClient()">Save</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>