<div class="row fullBack">
    <div class="margin-top-100 text-center scroll-content">
        <div class="mask" [hidden]="!mask"></div>
        <div class="col-24 float-left progress-bar">
            <div class="float-left col-4 col-md-2 beneciButtonThin bg-danger" [hidden] = "whatStep === 0" (click) = "goTo(0)">Cancel</div>
            <div class="float-left col-4 col-md-2 beneciButtonThin bg-success" [hidden]="whatStep === -1"
                (click)="goTo(-1)">Back</div>
            <div class="float-right mr-3" [hidden] = "!checkToDoLength()">{{itemCost|currency}}</div>
            <div class="description-items d-none d-md-block" *ngFor = "let desc of detailArray">
                <div class="margin-both">{{desc}}</div>
            </div>
            <div class="col-8 col-sm-4 ml-3 float-right beneciButtonThin next-step mr-2" [hidden] = "checkShowNext()" (click)="moveToNext()">
                Next - Pick {{toDo[1]}}
            </div>
            <div class="col-12 col-sm-4 ml-3 float-right beneciButtonThin add-to-cart" [hidden] = "checkToDoLength()" (click)="addToOrder()">
                Add to Cart {{itemCost | currency}} 
            </div>
        </div>
        <div class="col-24" [hidden]="whatStep !== 0">
            <div class="col-24 mt-3">
                <div class="col-24 col-sm-12 col-md-8" *ngFor="let sub of currentItemArray; let i = index">
                    <div class="product-box" (click)="setItem(sub)" [ngClass] = checkSelected(sub.title)>
                        <div class="product-title">
                            {{sub.title}}
                        </div>
                        <div class="pizza-price" [hidden]="!checkPriceSystem(sub)">
                            {{sub.SM2 | currency}} to {{sub.LG2 | currency}}
                        </div>
                        <div class="pizza-price" [hidden]="checkPriceSystem(sub)">
                            {{sub.ONE | currency}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-24 float-left" [hidden]="activeWindow !== 'SIZE'">
            <div class="highlight-bold float-left col-24 line-height-35 text-left">Pick a Size </div>
            <div class="col-24 float-left mt-2">
                <div class="col-12">
                    <div class="subInfo text-white" (click)="setSize('Small',currentItem.LG2)"
                        [ngClass]="whatButtonColor('Small')"> Small {{currentItem.SM2 | currency}}
                    </div>
                </div>
                <div class="col-12">
                    <div class="subInfo text-white" (click)="setSize('Large',currentItem.LG2)"
                        [ngClass]="whatButtonColor('Large')"> Large {{currentItem.LG2 | currency}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-24 float-left" [hidden]="activeWindow !== 'ITEMS'">
            <div class="highlight-bold col-24 line-height-35 text-left">Blue Items are Selected (Click Item to remove/Add) </div>
            <div class="col-24">
                <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let mod of modArray; let i = index">
                    <div class="subInfo text-white" [ngClass]="isSelected(mod.title)" (click)="changeItem(mod.title)">
                        {{displayModCost(mod)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-24 float-left " [hidden]="activeWindow !== 'SAUCE'">
            <div class="highlight-bold col-24 text-left line-height-35">Pick One Sauce/Dressing </div>
            <div class="col-24">
                <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let sauce of sauceItems; let i = index">
                    <div class="subInfo text-white" (click)="selectSauce(sauce)" [ngClass]="whichSauceSelected(sauce)">
                        {{sauce}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-24 float-left" [hidden]="activeWindow !== 'PLATTER'">
            <div class="highlight-bold col-24 text-left line-height-35"> Choose up to {{currentItem.maxSelected}} items from the list below </div>
            <div class="col-24 dangerAlert" [hidden] = "!showTooMany">You have Selected too many Items. Please remove an item to be able to add to cart</div>
            <div class="col-24">
                <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let platter of platterItems; let i = index">
                    <div class="subInfo text-white" (click)="selectPlatter(platter)"
                        [ngClass]="whichPlatterSelected(platter)">
                        {{platter}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>