<div class="col-24 float-left button-bar">
    <div class="navigation-button" *ngFor="let detail of detailArray; let i = index" (click)="resetItem(i)">{{detail}}
    </div>
</div>
 <div class="col-24" [hidden]="whatStep !== 0">
    <div class="col-24 mt-3">
        <div class="col-24 col-sm-18 col-md-8" *ngFor="let sub of localSandwichArray; let i = index">
            <div class="product-box" (click)="sandwichDetail(i)">
                <div class="product-title">
                    {{sub.title}}
                </div>
                <div class="product-price">
                    {{sub.ONE | currency}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-24" [hidden]="whatStep === 0">
    <div class="col-24 mt-3">
        <div class="col-24 highlight-box mb-3">
            <div class="float-left pizza-title2 col-24">
                 {{currentSandwich.title}}
            </div>
            <div class="col-24">
                <div class="float-left pizza-description">
                    {{currentSandwich.description}}
                </div>
                <div class="float-right pizza-title2 text-right">
                    {{itemCost |currency}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-24 line-height-35" [hidden]="whatStep !== 1">
        <div class="highlight-bold col-24">Blue Items are Selected (Click Item to remove/Add) </div>
        <div class="col-24">
            <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let mod of sandwichModArray; let i = index">
                <div class="subInfo text-white" [ngClass] = "modSelected(mod.code)" (click) = "modifyMods(mod.code)">
                    {{displayModData(mod.modifier)}}
                </div>
            </div>
        </div>
        <div class="col-24 mt-2" [hidden] = "platter === 'No'">
            <div class="col-24">
                <div class="highlight-bold">Choose Sides</div>
            </div>
            <div class="col-24">
                <div class="col-24 line-height-35 heighlight-regular text-danger" [hidden] = "!halfSize">With Both Fries and Onion Rings selected, these will be half portions of each</div>
                <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let extra of extraPlatterArray; let i = index">
                    <div class="subInfo text-white" [ngClass] = "extraSelected(extra.ID)" (click) = "modifyExtra(extra.ID)">
                        {{extra.product}}
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-24 mt-3">
            <div class="col-12 col-sm-8 col-md-6 blank-button text-white bg-success float-right" (click) = "addToOrder()">Add to Order</div>
        </div>
    </div>
</div>
