.cartBox{
    background-color: lightgray;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 2000;
    right: 0;
    border-left: 2px solid var(--beneci-border);;
}

.cartBottomLine{
    border-bottom: 2px solid var(--beneci-border);
    margin-bottom: 5px;
    font-size: small;
    min-height: 35px;
    padding-bottom: 5px; 
}


.leftBox{
    float: left;
}

.rightBox {
    float: right;
}

.small-button{
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: small;
    border-radius: 6px;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
}

.small-button:hover{
    opacity: .6;
    cursor: pointer;
}

.total-box{
    line-height: 35px;
    height: 35px;
    background-color: var(--beneci-subtle);
    margin-bottom: 5px;
    font-size: medium;
}

.extraItems{
    line-height: 25px;
    height: 25px;
    font-size: xx-small;
    float: left;
}

.label{
    font-size: x-small;
    color: darkgreen;
}


.line-35{
    line-height: 45px;
    height: 45px;
}