body, html {
    height: 100%;
  }

.beneciNavBar {
    height: 50px;
    line-height: 50px;
    background-color: black;
    top: 0;
    position: fixed;
    width: 100%;    
    z-index: 10;
}

.beneciNavBar .button{
    line-height: 40px;
    text-align: center;
    font-size: small;
    height: 40px;
    cursor: pointer;
    margin-top: 3px;;
}

.beneciNavBar .button:hover{
    opacity: .8;
}

.beneciNavBar .navLink {
    color: var(--beneci-gold);
    float:left;
    padding: 0px 10px 0px 10px;
    font-size: small;
    cursor: pointer;
}


.beneciNavBar .navLink:hover {
    color: var(--beneci-gold-over);
}

.beneciNavBar .siteTitle {
    float: left;
    color: white;
    font-weight: bolder;
    padding-right: 10px;
    text-indent: 5px;
    cursor: pointer;
}

.beneciNavBar .siteTitle:hover {
    color: var(--beneci-gold);
}

.iconFont{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.burgerDiv{
    background-color: black;
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 0px;
}

.burgerLink{
    color: var(--beneci-gold);
    float:left;
    padding: 0px 15px 0px 15px;
    font-size: small;
    cursor: pointer;
    width: 100%;
}

.burgerLink:hover{
    background-color: darkgray;
    color: black;
}

.cartBox{
    background-color: lightgray;
    position: absolute;
    top: 50px;
    height: 100vh;
    z-index: 2000;
    right: 0;
    border-left: 2px solid var(--beneci-border);;
}

.cartBottomLine{
    border-bottom: 2px solid var(--beneci-border);
    margin-bottom: 5px;
    font-size: small;
    min-height: 35px;
    padding-bottom: 5px; 
}

.small-button{
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: small;
    border-radius: 6px;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
}

.small-button:hover{
    opacity: .6;
    cursor: pointer;
}

.total-box{
    line-height: 35px;
    height: 35px;
    background-color: var(--beneci-subtle);
    margin-bottom: 5px;
    font-size: medium;
}

.extraItems{
    line-height: 25px;
    height: 25px;
    font-size: xx-small;
    float: left;
}

.member{
    background-color: honeydew;
}

.notMember {
    background-color: lightslategray;
}

.label{
    font-size: small;
    color: orange;
}

.isCursor{
    cursor: pointer;
}

.line-35{
    line-height: 45px;
    height: 45px;
    background-color: black;
}

.linkFull {
    background-color: black;
    color: goldenrod;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.linkFull:hover{
    opacity: .7;
    color: white;
}

.question{
    font-size: small;
    font-weight: bold;
    color : darkslategray;
    text-align: left;
}

.address{
    font-size: small;
    color:darkslategray;
    text-align: left;
    line-height: 30px;
}

