body, html {
    height: 100%;
  }

.beneciNavBar {
    height: 50px;
    line-height: 50px;
    background-color: black;
    top: 0;
    position: fixed;
    width: 100%;    
    z-index: 10;
}

.beneciNavBar .button{
    line-height: 40px;
    text-align: center;
    font-size: small;
    height: 40px;
    cursor: pointer;
    margin-top: 3px;;
}

.beneciNavBar .button:hover{
    opacity: .8;
}

.beneciNavBar .navLink {
    color: var(--beneci-gold);
    float:left;
    padding: 0px 15px 0px 15px;
    font-size: small;
    cursor: pointer;
}

.beneciNavBar .navLink:hover {
    color: var(--beneci-gold-over);
}

.beneciNavBar .siteTitle {
    float: left;
    color: white;
    font-weight: bolder;
    padding-right: 10px;
    text-indent: 5px;
    cursor: pointer;
}

.beneciNavBar .siteTitle:hover {
    color: var(--beneci-gold);
}

.iconFont{
    font-size: 35px;
    margin-top: 10px;;
}



