<div class="beneciNavBar">
  <div class="col-12 col-sm-19">
    <div class="d-none d-md-block">
      <div class="siteTitle" (click)="navigateClick('HOME')">Beneci Pizza</div>
      <div class="navLink" *ngFor="let link of siteLink; let i = index" (click)="goToLink(link.title)">{{link.title}}</div>
      <div class="button col-3 float-right mt-2" [ngClass] = "checkColorLogin()" (click) = "navToLogIn()">Member</div>
    </div>
    <div class="float-left offset-1 d-md-none">
      <i class="iconFont text-white fas fa-bars" [ngClass] = "showMenuClicked()" (click)="showMenu()"></i>
      <div class="col-24 burgerDiv" [hidden] = "hideMenu">
        <div class="burgerLink" *ngFor="let link of siteLink; let i = index" (click)="goToLinkBurger(link.title)">{{link.title}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-5 mt-2 float-right button beneci-green text-white" [hidden] = "theCart.length === 0" (click)="showCartFunction()">
    Cart {{cartTotal | currency}} [ {{theCart.length}} Items ]
  </div>
</div>
<div class="col-22 col-md-14 cartBox" [hidden] = "!showCart">
  <div class="col-24 text-center mt-1">Cart Information</div>
    <div class="col-24 cartBottomLine float-left" *ngFor="let cart of theCart; let i = index">
        <div class="col-24">
            <div class="col-2">
                <div class="small-button bg-danger text-white" (click)="removeItem(i)"><i class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="col-17 left-box">{{cart.title}} </div>
            <div class="col-2 small-button bg-dark text-white" (click)="inspectItem(i)" [hidden] = "checkExtra(i)">
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <!-- <div class="col-2 small-button bg-success text-white" (click)="inspectItem(i)">
                <i class="fas fa-arrow-circle-up"></i>
            </div> -->
            <div class="col-3 right-box text-right">{{cart.cost | currency}}</div>
        </div>
        <div class="col-24 float-left" [hidden] = "whatItem !== i">
            <div class="col-20 float-right extraItems"  *ngFor="let detail of theDetails; let i = index">{{checkSpecial(detail.title)}}</div>
        </div>
    </div>
    <div class="col-24 float-left">
        <div class="col-24 mt-2">
            <div class="col-24 text-right">
                Subtotal : {{calcTotal() |currency}}
            </div>
        </div>
        <div class="col-24 mt-2">
            <div class="col-24 text-right">
                Taxes : {{calcTax() |currency}}
            </div>
        </div>
        <div class="col-24 mt-2">
            <div class="col-24 text-right">
                Subtotal : {{calcGrandTotal() |currency}}
            </div>
        </div>
    </div>
</div>
<div class="col-24 float-left">
  <router-outlet></router-outlet>
</div>