<div class="beneciNavBar">
  <div class="col-12 col-sm-19">
    <div class="d-none d-md-block" >
      <div class="siteTitle" (click)="navigateClick('HOME')">Beneci Pizza Website</div>
      <div class="navLink" *ngFor="let link of siteLink; let i = index" (click)="goToLink(link.title)">{{link.title}}
      </div>
    </div>
    <div class="float-left d-md-none">
      <i class="iconFont text-white fas fa-bars"></i>
    </div>
  </div>
  <div class="col-12 col-sm-5 float-right button beneci-green text-white" (click)="showCartFunction()">
    Cart {{cartTotal | currency}} [ {{theCart.length}} Items ]
  </div>
</div>
<div class="float-right col-12 col-sm-5 bg-success" [hidden]="showCart">
  <app-cart></app-cart>
</div>
<div class="col-24 float-left">
  <router-outlet></router-outlet>
</div>