.pizza-box{
    border: 2px solid darkgreen;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    font-size: x-small;
    text-transform: uppercase;
}

.pizza-box:hover{
    background-color: lightslategray;
}

.pizza-price {
    text-transform: uppercase;
    font-size: xx-small;
}

.pizza-price-special {
    text-transform: uppercase;
    font-size: xx-small;
    color: white;
}

.pizza-price-special:hover{
    color: black;
}

.pizza-title{
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bolder;
    color: darkgreen;
}

.pizza-title-special{
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bolder;
    color: orange;
}

.pizza-title2{
    text-transform: uppercase;
    font-size: small;
    font-weight: bolder;
    color: darkgreen;
}

.pizza-description{
    text-transform: uppercase;
    font-size: x-small;
    color: black;
}

.special-pizza-box{
    border: 2px solid olive;
    color:white;
    background-color: var(--beneci);
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    font-size: x-small;
    text-transform: uppercase;
}

.special-pizza-box:hover{
    background-color:var(--beneci-over);
}
