.beneci-green{
    background-color: var(--beneci);
}

.text-white {
    color: white;
}

.centerScreen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 1000;
}

.beneciButton{
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.beneciButtonThin{
    width: 100%;
    height: 70%;
    line-height: 35px;
    margin-top: 6px;
    float:left;
    border-radius: 2px;
    cursor: pointer;
    font-size: small;
}

.beneciButtonThin:hover{
   opacity: .7;;
}

.beneciButton:hover{
    opacity: .7;
}

.active-button{
    background-color: #0275d8;
    color: white;
}

.not-active-button{
    background-color: #aaaaaa;
    color: black;
}

.margin-top-100{
    margin-top: 55px;
    width: 100%;
}

.mod-selected {
    background-color: #0275d8;
    color: white; 
}

.mod-not-selected{
    background-color:white;
    color: black;
}

.product-box{
    margin-top: 5px;
    font-size: small;
    text-transform: uppercase;
    border: 2px solid var(--beneci-border);
    border-radius: 6px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    cursor: pointer;
}

.product-box:hover{
    background-color: var(--beneci-over);
}

.scroll-content{
    overflow:scroll;
    height: calc(100% - 65px);
    height: -o-calc(100% - 65px); /* opera */
    height: -webkit-calc(100% - 65px); /* google, safari */
    height: -moz-calc(100% - 65px); /* firefox */
}

.progress-bar{
    background-color: black;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.add-to-cart{
    background-color: #5fe45f;
    color: black;
}

.next-step{
    background-color:#f0ad4e;
    color: black;
}

.dangerAlert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 25px;
}

.text-small{
    font-size: small;
}