<div class="col-24 float-left button-bar">
    <div class="navigation-button" *ngFor="let detail of detailArray; let i = index" (click)="resetItem(i)">{{detail}}
    </div>
</div>
 <div class="col-24" [hidden]="whatStep !== 0">
    <div class="col-24 mt-3">
        <div class="col-24 col-sm-18 col-md-8" *ngFor="let sub of localPastaArray; let i = index">
            <div class="product-box" (click)="pastaDetail(i)">
                <div class="product-title">
                    {{sub.title}}
                </div>
                <div class="product-price">
                    {{sub.ONE | currency}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-24" [hidden] = "whatStep !== 1">
    <div class="col-24 mt-3">
        <div class="col-24 highlight-box mb-3">
            <div class="float-left pizza-title2 col-24">
                 {{currentPasta.title}}
            </div>
            <div class="col-24">
                <div class="float-left pizza-description">
                    {{currentPasta.description}}
                </div>
                <div class="float-right pizza-title2 text-right">
                    {{itemCost |currency}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-24 mt-2" [hidden] = "platter === 'No'">
        <div class="col-24">
            <div class="highlight-bold">Add Extra Ingredients</div>
        </div>
        <div class="col-24">
            <div class="col-12 col-md-8 col-lg-6 mt-2" *ngFor="let extra of pastaExtra; let i = index">
                <div class="blank-button text-white" [ngClass] = "extraSelected(extra.ID)" (click) = "setNewPrice(i)">
                    {{extra.title}} + {{extra.cost | currency}}
                </div> 
            </div>
        </div>
    </div>
    <div class="col-24 mt-3">
        <div class="col-12 col-sm-8 col-md-6 blank-button text-white bg-success float-right" (click) = "addToOrder()">Add to Order</div>
    </div>
</div>
